**/logs/
**/downloads/
**/sites/
**/tmp/
**/logs/*
*environ*
downloads
sp-html-dumper\nvm\v18.20.3
sp-html-dumper\nvm\v18.20.3\*
environ*.ps1
*environ*
!environ.example
*.reference
filearray.reference
**env**.ps1
environ.ps1
.vscode/launch.json
*/launch.json